@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
}
/* 
  header nav starts here  */
.header-nav {
  background-color: blueviolet;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-heading-link {
  text-decoration: none;
  color: white !important;
  font-size: 15px;
  padding-right: 40px;
}

/* nav bar starts here */
.nav-logo {
  width: 200px;
  height: 45px;
}

.navbar-custom {
  background-color: gold;
  color: pink;
}
.navbar-button {
  background-color: black !important;
}
a {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem !important;
}

#nav-button {
  height: 20px;
  width: 20px;
  padding: 5px;
}
.nav-bar-content {
  flex-wrap: wrap;
}
.nav-link:hover {
  background-color: rgb(247, 255, 25);
  /* transform: translateY(-10px); */
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); */
  border-radius: 5px;
  border: 1px solid red;
}

/* header nav ends here  */

/* marquee tag css starts here */
.marquee-div {
  background-color: rgb(134, 45, 134);
  color: white;
  font-size: 15px;
}
.marquee-scrolling-text {
  white-space: nowrap;
  overflow: hidden;

  animation: scrolling 30s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* body card session starts here */

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}

.card {
  height: 450px;
  width: 290px;
  padding: 10px;
  margin: 20px auto;
  background-color: rgb(224, 207, 207);
  border: 2px solid rgb(169, 116, 223) !important;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

.card:hover {
  border-color: red !important;
  transform: translateY(-5px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.card-heading {
  font-size: 1.2em;
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid rebeccapurple;
  margin-bottom: 5px;
  font-weight: bold;
}

.card-img {
  height: auto;
  width: 100%;
  overflow: auto;
  border-color: 2px solid pink !important;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* nav redirect body part code starts here */

.ts-page-container,
.ap-page-container,
.mahabubnagar-page-container,
.medak-page-container,
.nalgonda-page-container,
.nizamabad-page-container,
.adilabad-page-container,
.karimnagar-page-container,
.warangal-page-container ,
.home-card-pfd-link /*home card pdf target class*/ {
  display: none;
}

.nav-anchor-main-heading {
  font-size: 2em;
  padding: 20px 20px 0px 20px;
  margin-bottom: 0px;
  font-weight: bold;
  text-align: left;
  color: rgb(167, 6, 57);
}

/* demo */
/* .home-card-pfd-link {
  display: none;
} */

.home-ts-card-link {
  width: auto; /* Set container width to fill its parent */
  height: 100%; /* Set container height to fill its parent */
  border: 2px solid red;
  position: relative; /* Set container position to relative */
  overflow: scroll; /* scroll Enable scrolling if PDF is larger than container*/
  margin: 10px;
}

/* CSS for canvas to modify PDF size */
canvas {
  /* Set maximum width to 100% */
  /* max-width: 100%; */
  /* Set maximum height to 600px */
  /* max-height: 100%; */
  /* Add additional styling as needed */
  width: 100%;
}

/* demo */
/* foooter starts here */

.footer-section {
  background-color: #0d2436;
  margin-top: 10px;
}
.footer-section-address {
  color: #959ead;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .header-nav-heading {
    display: none;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
    padding: 5px;
    background-color: blueviolet;
  }

  /* nav redirect body part code starts here */
  .nav-anchor-main-heading {
    font-size: 1.2em;
    text-align: center;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    color: rgb(167, 6, 57);
  }
}
